[Unit]
Description=Periodic HS Plugin integration check
[Timer]
OnBootSec=30s
OnUnitInactiveSec=5min
AccuracySec=15s
Unit=hs-pg-integrator.service
[Install]
WantedBy=timers.target
